button {
  /* background-color: #4c0090; */
  background-color: #242133;
  color: white;
  padding: 5px 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.user-list {
  display: grid;
  grid-template-rows: 1fr 5fr;
  /* row-gap: 2em; */
  width: 100vw;
  height: 100vh;
}

.details {
  display: grid;
  grid-template-columns: 3.21fr 1fr;
}

.details > div:first-child {
  align-self: center;
  padding-left: 15%;
  font-size: xx-large;
  /* background-color: #4c0090; */
}

.details > div:last-child {
  align-self: flex-end;
  padding-right: 5em;
  justify-self: start;
  /* background-color: #4c0090; */

}

.info {
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: #4c0090; */

}

.table {
  /* background-color:rgb(38, 35, 53); */
  align-self: flex-start;
  justify-self: center;
  table-layout: fixed;
  width: 60%;
  border-collapse: collapse;
  
  /* border: 3px solid #35304e; */
  /* padding-left: 30px; */
}

/* thead {
  text-align: center;
} */

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 40%;
}

thead th:nth-child(3) {
  width: 12%;
}

thead th:nth-child(4) {
  width: 15%;
}
thead th:nth-child(5) {
  width: 20%;
}
thead th:nth-child(6) {
  width: 15%;
}

th, td {
  padding: 10px;
}

tbody td {
  text-align: center;
}

thead th {
  background: linear-gradient(to bottom, rgba(4, 61, 56, 0.1), rgba(3, 41, 25,0.8));
  /* border: 3px solid #1b1731; */
}

tbody tr:nth-child(odd) {
  /* background-color: #073b58; */
  background-color: #24405a;

}

tbody tr:nth-child(even) {
  background-color: #23486b;
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}